<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-controller="GroupsCtrl as vm">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <h1 class="pull-left">Groups</h1>
        <a class="btn btn-default pull-right" href="/grupos/nuevo" role="button">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <div style="clear: both;"></div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="group in vm.groups">
          <strong>{{group.name}}</strong>
          <a ng-href="/grupos/alumnos/{{group._id}}">
            <span class="pull-right">Ver Alumnos</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
