<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-controller="NewGroupCtrl as vm">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="groupForm" ng-submit="vm.createGroup(groupForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Nombre del Grupo</label>

          <input type="text" name="name" class="form-control" ng-model="vm.group.name"
                 required/>
          <p class="help-block" ng-show="groupForm.name.$error.required && groupForm.$submitted">
            Debe especificar un nombre
          </p>
        </div>
        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
