<div
  class="navbar navbar-default navbar-static-top"
  ng-controller="NavbarCtrl as vm"
  >
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">marisol</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li
          ng-repeat="item in vm.menu"
          ng-class="{active: vm.isActive(item.link)}"
          >
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="vm.isAdmin()" ng-class="{active: vm.isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="vm.isLoggedIn()" ng-class="{active: vm.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="vm.isLoggedIn()" ng-class="{active: vm.isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="vm.isLoggedIn()"><p class="navbar-text">Hello {{ vm.getCurrentUser().name }}</p> </li>
        <li ng-show="vm.isLoggedIn()" ng-class="{active: vm.isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="vm.isLoggedIn()" ng-class="{active: vm.isActive('/logout')}"><a href="" ng-click="vm.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
