<div
  ng-include="'components/navbar/navbar.html'"
  ></div>
<div class="container" ng-controller="StudentsCtrl as vm">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Alumnos de {{vm.group.name}}
      </h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="student in vm.group.students">
          {{student.name}}
          <a ng-href="/students/{{student.id}}">
            <span class="pull-right">Ver Datos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
